/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.show-card{
    width: 320px;
     margin: 20px;
     background-color: rgb(83, 80, 71);
     //height:250px;

     
    .header {
        text-align: left;
       
    }
}
